%help-modal {
  @extend %flex-column;

  > div {
    padding: 0 !important;
  }

  h2 {
    margin: 0.5em 0 0 0;
  }

  .scrollable {
    overflow-y: auto;
    padding: 0.8em 0;
  }

  table {
    width: 100%;
  }

  th p {
    margin: 1.2em 0 0.6em 0;
    background: $c-brag;
    color: $c-brag-over;
    font-weight: bold;
    padding: 0.3em 0;
  }

  td {
    padding: 0.2em 0.5em;
    text-align: left;
  }

  .keys {
    padding-#{$end-direction}: 1em;
    text-align: right;
    white-space: nowrap;
  }

  .desc:first-letter {
    text-transform: uppercase;
  }

  or {
    margin-#{$start-direction}: 0.2em;
    opacity: 0.5;
  }
  kbd {
    display: inline-block;
    padding: 4px 5px;
    margin-#{$start-direction}: 3px;
    font-family: monospace;
    line-height: 10px;
    color: #444;
    vertical-align: middle;
    background-color: #fcfcfc;
    border: solid 1px #ccc;
    border-bottom-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #bbb;
  }
}

.help-ephemeral {
  display: block;
  background: rgba($c-bg-popup, 0.9);
  @include back-blur();
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  color: $c-font-clear;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  user-select: none;
  white-space: nowrap;
  ul {
    padding-left: 16px;
    margin: 4px 8px;
    li {
      list-style: disc;
      margin: 2px 4px;
    }
  }
  .key {
    font-family: monospace;
    color: #333;
    background-color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 0 2px;
  }
  &.fade-out {
    transition: opacity 1s linear;
    opacity: 0;
  }
}
