$mq-col2: $mq-xx-small;
$mq-col3: $mq-small;
$mq-col4: $mq-x-large;

$mq-not-col3: $mq-not-small;

@mixin lobby-app-size {
  min-height: 300px;

  @include breakpoint($mq-col2) {
    min-height: 400px;
  }

  @include breakpoint($mq-col3) {
    height: 600px;
    max-height: calc(100vh - #{$site-header-outer-height} - #{$block-gap});
  }
}

.lobby {
  --cols: 1;
  grid-area: main;
  display: grid;
  grid-template-areas: 'app' 'table' 'side' 'blog' 'support' 'tv' 'puzzle' 'tours' 'leader' 'winner' 'timeline' 'forum' 'about';
  grid-gap: $block-gap;

  &__tournaments,
  &__simuls,
  &__leaderboard,
  &__winners {
    max-height: 20em;
  }

  &__counters {
    @extend %flex-between, %page-text;
    display: none;
    margin: 0.5em 0 calc(0.5em + 2px);
  }

  @include breakpoint($mq-col2) {
    --cols: 2;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(3, fit-content(0));
    grid-template-areas:
      'app      app'
      'side     table'
      'blog     blog'
      'tv       puzzle'
      'support  support'
      'tours    tours'
      'leader   winner'
      'timeline forum'
      'about    about';

    &__support {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2%;
    }
  }

  @include breakpoint($mq-col3) {
    --cols: 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 12em repeat(2, fit-content(0) auto) auto fit-content(0);
    grid-template-areas:
      'table    app     app'
      'sideline app     app'
      'tv       blog    blog'
      'tv       support support'
      'puzzle   tours   tours'
      'puzzle   leader  winner'
      'about    leader  winner';

    &__counters {
      display: flex;
      margin-left: 3em;
    }

    &__start {
      flex-flow: column;
      align-items: stretch;
      justify-content: center;
    }
  }

  @include breakpoint($mq-col4) {
    --cols: 4;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, fit-content(0));
    grid-template-areas:
      'sideline app     app     tableforum'
      'tv       blog    blog    puzzle'
      'tv       support support puzzle'
      'leader   tours   tours   winner'
      '.        about   about   .';

    &__counters {
      margin-right: 4em;
      margin-left: 0em;
    }

    .lobby__side-timeline {
      margin-top: 2em;
    }
  }

  &__side {
    grid-area: side;
  }

  &__app,
  &__nope {
    grid-area: app;
  }

  &__table {
    grid-area: table;
  }

  &__tv {
    grid-area: tv;
  }

  &__leaderboard {
    grid-area: leader;
  }

  &__winners {
    grid-area: winner;
  }

  &__wide-winners {
    grid-area: leader / leader / leader / winner;
  }

  &__puzzle {
    grid-area: puzzle;
  }

  &__tournaments-simuls {
    grid-area: tours;
  }
  &__simuls {
    margin-top: $block-gap;
  }

  &__blog {
    grid-area: blog;
  }

  &__support {
    grid-area: support;
  }

  &__about {
    grid-area: about;
  }

  .lobby__timeline {
    grid-area: timeline;
  }

  .lobby__forum {
    grid-area: forum;
  }

  .lobby__side-timeline {
    grid-area: sideline;
  }

  .lobby__table-forum {
    grid-area: tableforum;
  }
}
